# Ignorar todas las carpetas __pycache__
__pycache__/
**/__pycache__/

# Ignorar archivos .pyc (compilados de Python)
*.pyc

# Ignorar entornos virtuales
env/
env-tpi/

# Ignorar archivos CSV específicos
#numeros_aleatorios_metodo_mixto.csv
